@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

:root {
  --text-color: #000000;
  --card-front-color: #BC9E3E;
  --card-back-color: #AF3438;
}

body {
  background: url('img/bg-desktop-yellow.webp') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Bai Jamjuree', sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}
.cartao {
  margin: 1rem;
  /* Mudamos de height para min-height para o card esticar se o texto for grande */
  min-height: 20rem; 
  flex-grow: 1;
  flex-basis: calc(33% - 2rem);
  box-sizing: border-box;
}

.cartao__conteudo {
  background-color: var(--card-front-color);
  text-align: center;
  height: 100%;
  position: relative;
  border-radius: 0.5rem;
  box-sizing: border-box;
  
  /* Ativamos flexbox aqui para organizar os textos verticalmente com espaço entre eles */
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 4.5rem 1.5rem 1.5rem 1.5rem; /* Ajustado os espaçamentos internos */
}

/* Remove os paddings antigos que estavam somando espaço e estourando o card */
.cartao__conteudo p {
  padding: 0; 
  margin: 0;
}

/* Adiciona um pequeno espaço entre a pergunta e a resposta */
.cartao__conteudo__pergunta {
  margin-bottom: 1.5rem;
}

.cartao__conteudo__resposta p {
  color: var(--card-back-color);
  font-weight: 700;
}

footer {
  background-color: rgb(240, 237, 237);
  color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
}

footer p {
  text-align: center;
  font-size: 0.6rem;
  margin-top: 0.5rem;
}